<div
  class='flex flex-col items-start gap-300 self-stretch rounded-[10px] bg-yellow-500 p-300 2xl:row-start-2 2xl:row-end-3 2xl:justify-between'
>
  <div class='text-preset-2'>Write your content using AI.</div>
  <img src='/illustration-ai-content.webp' alt='Ai content' class='w-55' />
</div>
