<div class='flex flex-col items-start gap-300 self-stretch rounded-[10px] bg-white p-300'>
  <div class='flex flex-col items-start gap-[15px]'>
    <div class='text-preset-1 flex justify-center'><span class='leading-9'>&gt;</span>56%</div>
    <div class='text-preset-4'>faster audience growth</div>
  </div>
  <img src='/illustration-audience-growth.webp' alt='Audience growth' class='w-45' />
</div>
