---
import AiContent from './AiContent.astro';
import AudienceGrowth from './AudienceGrowth.astro';
import ConsistentSchedule from './ConsistentSchedule.astro';
import CreatePost from './CreatePost.astro';
import FiveStars from './FiveStars.astro';
import GrowFollowers from './GrowFollowers.astro';
import MultiplePlatforms from './MultiplePlatforms.astro';
import SchedulePosts from './SchedulePosts.astro';
---

<div class='grid grid-cols-1 gap-y-400'>
  <FiveStars />
  <MultiplePlatforms />
  <ConsistentSchedule />
  <SchedulePosts />
  <GrowFollowers />
  <AudienceGrowth />
  <CreatePost />
  <AiContent />
</div>
