<div
  class='box-content flex h-50 flex-col items-start justify-between gap-200 self-stretch overflow-hidden rounded-[10px] bg-yellow-500 px-200 pt-200 md:px-300 md:pt-300 2xl:col-start-2 2xl:col-end-3 2xl:row-start-2 2xl:row-end-3'
>
  <div class='text-preset-3'>Maintain a consistent posting schedule.</div>
  <img src='/illustration-consistent-schedule.webp' alt='Consistent schedule' class='max-w-52' />
</div>
