<div
  class='box-content flex h-50 flex-col items-start gap-200 self-stretch overflow-hidden rounded-[10px] bg-yellow-500 px-200 pt-200'
>
  <div class='text-preset-3'>Maintain a consistent posting schedule.</div>
  <img src='/illustration-consistent-schedule.webp' alt='Consistent schedule' class='w-52' />
</div>
