<div class='flex flex-col items-start gap-300 self-stretch rounded-[10px] bg-yellow-100 p-400'>
  <div class='text-preset-2'>
    Create and schedule content <i class='text-purple-500'>quicker.</i>
  </div>
  <img src='/illustration-create-post.webp' alt='Create post' class='w-47.5' />
</div>
