<div
  class='flex flex-col items-center justify-center gap-500 self-stretch rounded-[10px] bg-purple-500 px-11 py-300 md:col-span-2 md:flex-row md:px-20 2xl:col-start-3 2xl:col-end-5 2xl:p-300'
>
  <img src='/illustration-grow-followers.webp' alt='Grow followers' class='w-57' />
  <div class='text-preset-2 text-center text-white md:text-left'>
    Grow followers with non-stop content.
  </div>
</div>
