<div class='flex flex-col items-start gap-200 self-stretch rounded-[10px] bg-white p-200'>
  <img
    src='/illustration-multiple-platforms.webp'
    alt='Multiple platforms'
    class='w-79 shadow-[-9.781px_11.738px_24.454px_0px_rgba(98,26,123,0.05)]'
  />
  <div class='text-preset-3 self-stretch'>Manage multiple accounts and platforms.</div>
</div>
