<div
  class='flex flex-col items-center justify-center gap-300 self-stretch rounded-[10px] bg-purple-100 p-400'
>
  <div class='text-preset-3'>Schedule to social media.</div>
  <img src='/illustration-schedule-posts.webp' alt='Schedule posts' class='min-w-77' />
  <p class='text-preset-4 self-stretch text-center'>
    Optimize post timings to publish content at the perfect time for your audience.
  </p>
</div>
