<div
  class='flex flex-col items-center justify-center gap-300 self-stretch rounded-[10px] bg-purple-100 p-400 md:col-span-2 md:px-41 2xl:col-start-4 2xl:col-end-5 2xl:overflow-hidden 2xl:px-8 2xl:py-12'
>
  <div class='text-preset-3'>Schedule to social media.</div>
  <img
    src='/illustration-schedule-posts.webp'
    alt='Schedule posts'
    class='w-77 min-w-77 md:w-89 md:min-w-89 2xl:self-start 3xl:self-center'
  />
  <p
    class='text-preset-4 w-77 min-w-77 text-center md:w-89 md:min-w-89 2xl:w-full 2xl:min-w-full 2xl:text-left 3xl:text-center'
  >
    Optimize post timings to publish content at the perfect time for your audience.
  </p>
</div>
